{
  "openapi": "3.1.0",
  "info": {
    "title": "sndbox Control Plane API",
    "version": "0.8.0",
    "description": "Versioned v1 route and transport contract for sndbox 8. Resource schemas remain additive within v1."
  },
  "servers": [
    {
      "url": "https://api.sndbox.app"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "get_health",
        "tags": [
          "service"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": []
      }
    },
    "/ready": {
      "get": {
        "operationId": "get_ready",
        "tags": [
          "service"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "All required dependencies are ready.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadinessResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "At least one required dependency is not ready.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadinessResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/account": {
      "delete": {
        "operationId": "delete_v1_account",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDeletionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteV1AccountInput"
              }
            }
          }
        }
      }
    },
    "/v1/account/commerce": {
      "get": {
        "operationId": "get_v1_account_commerce",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetV1AccountCommerceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/account/export": {
      "get": {
        "operationId": "get_v1_account_export",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountExport"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/account/organisations": {
      "get": {
        "operationId": "get_v1_account_organisations",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetV1AccountOrganisationsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/account/profile": {
      "get": {
        "operationId": "get_v1_account_profile",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetV1AccountProfileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/account/referrals": {
      "get": {
        "operationId": "get_v1_account_referrals",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/account/referrals/claim": {
      "post": {
        "operationId": "post_v1_account_referrals_claim",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralClaimResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferralClaimInput"
              }
            }
          }
        }
      }
    },
    "/v1/account/sessions": {
      "get": {
        "operationId": "get_v1_account_sessions",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetV1AccountSessionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/account/sessions/{sessionId}/revoke": {
      "post": {
        "operationId": "post_v1_account_sessions_sessionId_revoke",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostV1AccountSessionsSessionIdRevokeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostV1AccountSessionsSessionIdRevokeInput"
              }
            }
          }
        }
      }
    },
    "/v1/account/wallet": {
      "get": {
        "operationId": "get_v1_account_wallet",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetV1AccountWalletResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/account/wallet/top-ups": {
      "post": {
        "operationId": "post_v1_account_wallet_top_ups",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostV1AccountWalletTopUpsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostV1AccountWalletTopUpsInput"
              }
            }
          }
        }
      }
    },
    "/v1/billing/stripe/webhook": {
      "post": {
        "operationId": "post_v1_billing_stripe_webhook",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostV1BillingStripeWebhookResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "stripeSignature": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostV1BillingStripeWebhookInput"
              }
            }
          }
        }
      }
    },
    "/v1/internal/plugin-reviews/{reviewId}/decision": {
      "post": {
        "operationId": "post_v1_internal_plugin_reviews_reviewId_decision",
        "tags": [
          "internal"
        ],
        "parameters": [
          {
            "name": "reviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostV1InternalPluginReviewsReviewIdDecisionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostV1InternalPluginReviewsReviewIdDecisionInput"
              }
            }
          }
        }
      }
    },
    "/v1/internal/plugin-versions/{pluginVersionId}/revoke": {
      "post": {
        "operationId": "post_v1_internal_plugin_versions_pluginVersionId_revoke",
        "tags": [
          "internal"
        ],
        "parameters": [
          {
            "name": "pluginVersionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostV1InternalPluginVersionsPluginVersionIdRevokeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostV1InternalPluginVersionsPluginVersionIdRevokeInput"
              }
            }
          }
        }
      }
    },
    "/v1/internal/usage-events": {
      "post": {
        "operationId": "post_v1_internal_usage_events",
        "tags": [
          "internal"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostV1InternalUsageEventsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostV1InternalUsageEventsInput"
              }
            }
          }
        }
      }
    },
    "/v1/invitations/accept": {
      "post": {
        "operationId": "post_v1_invitations_accept",
        "tags": [
          "invitations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostV1InvitationsAcceptResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostV1InvitationsAcceptInput"
              }
            }
          }
        }
      }
    },
    "/v1/marketplace/plugins": {
      "get": {
        "operationId": "get_v1_marketplace_plugins",
        "tags": [
          "marketplace"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplacePage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": []
      }
    },
    "/v1/marketplace/plugins/{pluginId}": {
      "get": {
        "operationId": "get_v1_marketplace_plugins_pluginId",
        "tags": [
          "marketplace"
        ],
        "parameters": [
          {
            "name": "pluginId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetV1MarketplacePluginsPluginIdResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": []
      }
    },
    "/v1/marketplace/plugins/{pluginId}/checkout": {
      "post": {
        "operationId": "post_v1_marketplace_plugins_pluginId_checkout",
        "tags": [
          "marketplace"
        ],
        "parameters": [
          {
            "name": "pluginId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostV1MarketplacePluginsPluginIdCheckoutResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostV1MarketplacePluginsPluginIdCheckoutInput"
              }
            }
          }
        }
      }
    },
    "/v1/marketplace/plugins/{pluginId}/install": {
      "get": {
        "operationId": "get_v1_marketplace_plugins_pluginId_install",
        "tags": [
          "marketplace"
        ],
        "parameters": [
          {
            "name": "pluginId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetV1MarketplacePluginsPluginIdInstallResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": []
      }
    },
    "/v1/marketplace/plugins/{pluginId}/reviews": {
      "get": {
        "operationId": "get_v1_marketplace_plugins_pluginId_reviews",
        "tags": [
          "marketplace"
        ],
        "parameters": [
          {
            "name": "pluginId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetV1MarketplacePluginsPluginIdReviewsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": []
      }
    },
    "/v1/marketplace/plugins/{pluginId}/reviews/{reviewId}/report": {
      "post": {
        "operationId": "post_v1_marketplace_plugins_pluginId_reviews_reviewId_report",
        "tags": [
          "marketplace"
        ],
        "parameters": [
          {
            "name": "pluginId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostV1MarketplacePluginsPluginIdReviewsReviewIdReportResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostV1MarketplacePluginsPluginIdReviewsReviewIdReportInput"
              }
            }
          }
        }
      }
    },
    "/v1/marketplace/plugins/{pluginId}/reviews/me": {
      "put": {
        "operationId": "put_v1_marketplace_plugins_pluginId_reviews_me",
        "tags": [
          "marketplace"
        ],
        "parameters": [
          {
            "name": "pluginId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutV1MarketplacePluginsPluginIdReviewsMeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutV1MarketplacePluginsPluginIdReviewsMeInput"
              }
            }
          }
        }
      }
    },
    "/v1/openapi.json": {
      "get": {
        "operationId": "get_v1_openapi_json",
        "tags": [
          "openapi.json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetV1OpenapiJsonResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": []
      }
    },
    "/v1/organisations": {
      "post": {
        "operationId": "post_v1_organisations",
        "tags": [
          "organisations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostV1OrganisationsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostV1OrganisationsInput"
              }
            }
          }
        }
      }
    },
    "/v1/organisations/{organisationId}/roles": {
      "get": {
        "operationId": "get_v1_organisations_organisationId_roles",
        "tags": [
          "organisations"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetV1OrganisationsOrganisationIdRolesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "post_v1_organisations_organisationId_roles",
        "tags": [
          "organisations"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostV1OrganisationsOrganisationIdRolesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostV1OrganisationsOrganisationIdRolesInput"
              }
            }
          }
        }
      }
    },
    "/v1/organisations/{organisationId}/roles/{roleId}": {
      "delete": {
        "operationId": "delete_v1_organisations_organisationId_roles_roleId",
        "tags": [
          "organisations"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteV1OrganisationsOrganisationIdRolesRoleIdResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteV1OrganisationsOrganisationIdRolesRoleIdInput"
              }
            }
          }
        }
      },
      "put": {
        "operationId": "put_v1_organisations_organisationId_roles_roleId",
        "tags": [
          "organisations"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutV1OrganisationsOrganisationIdRolesRoleIdResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutV1OrganisationsOrganisationIdRolesRoleIdInput"
              }
            }
          }
        }
      }
    },
    "/v1/organisations/{organisationId}/scim-tokens": {
      "get": {
        "operationId": "get_v1_organisations_organisationId_scim_tokens",
        "tags": [
          "organisations"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetV1OrganisationsOrganisationIdScimTokensResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "post_v1_organisations_organisationId_scim_tokens",
        "tags": [
          "organisations"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostV1OrganisationsOrganisationIdScimTokensResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostV1OrganisationsOrganisationIdScimTokensInput"
              }
            }
          }
        }
      }
    },
    "/v1/organisations/{organisationId}/scim-tokens/{tokenId}": {
      "delete": {
        "operationId": "delete_v1_organisations_organisationId_scim_tokens_tokenId",
        "tags": [
          "organisations"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteV1OrganisationsOrganisationIdScimTokensTokenIdResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteV1OrganisationsOrganisationIdScimTokensTokenIdInput"
              }
            }
          }
        }
      }
    },
    "/v1/organisations/{organisationId}/service-accounts": {
      "post": {
        "operationId": "post_v1_organisations_organisationId_service_accounts",
        "tags": [
          "organisations"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostV1OrganisationsOrganisationIdServiceAccountsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostV1OrganisationsOrganisationIdServiceAccountsInput"
              }
            }
          }
        }
      }
    },
    "/v1/organisations/{organisationId}/sso-connections": {
      "get": {
        "operationId": "get_v1_organisations_organisationId_sso_connections",
        "tags": [
          "organisations"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetV1OrganisationsOrganisationIdSsoConnectionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "post_v1_organisations_organisationId_sso_connections",
        "tags": [
          "organisations"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostV1OrganisationsOrganisationIdSsoConnectionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostV1OrganisationsOrganisationIdSsoConnectionsInput"
              }
            }
          }
        }
      }
    },
    "/v1/organisations/{organisationId}/sso-connections/{connectionId}": {
      "delete": {
        "operationId": "delete_v1_organisations_organisationId_sso_connections_connectionId",
        "tags": [
          "organisations"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteV1OrganisationsOrganisationIdSsoConnectionsConnectionIdResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteV1OrganisationsOrganisationIdSsoConnectionsConnectionIdInput"
              }
            }
          }
        }
      },
      "put": {
        "operationId": "put_v1_organisations_organisationId_sso_connections_connectionId",
        "tags": [
          "organisations"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutV1OrganisationsOrganisationIdSsoConnectionsConnectionIdResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutV1OrganisationsOrganisationIdSsoConnectionsConnectionIdInput"
              }
            }
          }
        }
      }
    },
    "/v1/personal-access-tokens": {
      "get": {
        "operationId": "get_v1_personal_access_tokens",
        "tags": [
          "personal-access-tokens"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenSummaryList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "post_v1_personal_access_tokens",
        "tags": [
          "personal-access-tokens"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuedCredentialEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonalAccessTokenInput"
              }
            }
          }
        }
      }
    },
    "/v1/personal-access-tokens/{tokenId}": {
      "delete": {
        "operationId": "delete_v1_personal_access_tokens_tokenId",
        "tags": [
          "personal-access-tokens"
        ],
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevocationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialRevocationInput"
              }
            }
          }
        }
      }
    },
    "/v1/platform/support-access-requests": {
      "post": {
        "operationId": "post_v1_platform_support_access_requests",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportAccessRequestEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupportAccessRequestInput"
              }
            }
          }
        }
      }
    },
    "/v1/platform/support-access-requests/{requestId}/diagnostics": {
      "get": {
        "operationId": "get_v1_platform_support_access_requests_requestId_diagnostics",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportDiagnosticsEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/product-checkout": {
      "post": {
        "operationId": "post_v1_product_checkout",
        "tags": [
          "product-checkout"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostV1ProductCheckoutResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostV1ProductCheckoutInput"
              }
            }
          }
        }
      }
    },
    "/v1/product-plans": {
      "get": {
        "operationId": "get_v1_product_plans",
        "tags": [
          "product-plans"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "not-applicable",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetV1ProductPlansResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/publishers": {
      "post": {
        "operationId": "post_v1_publishers",
        "tags": [
          "publishers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostV1PublishersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiError"
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostV1PublishersInput"
              }
            }
          }
        }
      }
    },
    "/v1/publishers/{publisherId}/plugins/{pluginId}/reviews/{reviewId}/response": {
      "post": {
        "operationId": "post_v1_publishers_publisherId_plugins_pluginId_reviews_reviewId_response",
        "tags": [
          "publishers"
        ],
        "parameters": [
          {
            "name": "publisherId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pluginId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-sandbox-stability": "stable",
        "x-sandbox-idempotency": "supported",
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "x-correlation-id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "idempotency-replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
[...]
